@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IUserState _userState;

<div class="topBar">
    <AuthorizeView>
        <Authorized>
            <label>Logged in as @context.User?.Identity?.Name</label>
            <NavLink href="LogOut">Log out</NavLink>
            <p/>
        </Authorized>
        <NotAuthorized>
            <NavLink href="Login">Log in</NavLink>
        </NotAuthorized>
    </AuthorizeView>
    <label for="">Remember me</label>
    <input type="checkbox" @onchange="@RememberMeChanged" checked="@_rememberMe"/>
</div>

@code {

    private bool _rememberMe;

    protected override async Task OnInitializedAsync()
    {
        _rememberMe = await _userState.ShouldRememberUser();
    }

    private async Task RememberMeChanged(ChangeEventArgs obj)
    {
        bool remember = (bool)obj.Value;
        if (remember)
        {
            await _userState.RememberUser();
        }
        _rememberMe = remember;
    }

}