@page "/"

<PageTitle>Bingo Lingo</PageTitle>

<div class="text-center text-dark align-content-center">
    <h1>Ready to start?</h1>

    <div class="nav-item px-3">
        <NavLink Match="NavLinkMatch.All" href="RunSession" class="nav-link">Start a session</NavLink>
    </div>
</div>
