@page "/RunSession"
@using BingoLingo.Shared
@inject HttpClient Http
@inject ILogger<RunSession> _logger;
@inject NavigationManager _navigation;

<PageTitle>Translate!</PageTitle>

@if (_translation == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <EditForm Model="_translation" OnSubmit="Submit">
        <div class="form-group text-center">
            <h3>Translate the following:</h3>
            <p>"@_translation.Original"</p>
            <InputText @bind-Value="_submittedTranslation" autofocus="autofocus" class="form-control" @ref="_inputText"/>
            @if (!_questionSubmitted)
            {
                <button type="submit" class="btn btn-primary">Submit</button>
            }
            else
            {
                <div style="font-size:48px">
                    @if (_success)
                    {
                        <div>&#x2705;</div>
                    }
                    else
                    {
                        <div>&#x274C;</div>
                    }
                </div>
                if (!_success)
                {
                    <p>Correct answer was: </p>
                    <p>"@_translation.Translated"</p>
                }
                <button class="btn btn-primary" onclick="@Continue" @ref="_continueButton">Continue</button>
            }
        </div>
    </EditForm>
}

@code {
    private Translation? _translation;
    private StartedSession? _session;
    private string? _submittedTranslation;
    private bool _questionSubmitted;
    private bool _success;
    private Queue<Translation>? _translations;
    private ElementReference? _continueButton;

    private InputText? _inputText;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.PutAsync("/Sessions/", null);
        await response.ThrowIfError(_logger);
        _session = await response.Content.ReadFromJsonAsync<StartedSession>();

        _translations = new Queue<Translation>(_session!.Translations);

        NextTranslation();
    }

    private void Continue()
    {
        NextTranslation();
    }

    private void NextTranslation()
    {
        if (_translations!.Any())
        {
            _questionSubmitted = false;
            _submittedTranslation = "";
            _translation = _translations!.Dequeue();
        }
        else
        {
            _navigation.NavigateTo("/");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_questionSubmitted && _continueButton != null)
        {
            await _continueButton.Value.FocusAsync();
        }
        else if (_inputText?.Element != null)
        {
            await _inputText.Element.Value.FocusAsync();
        }
    }

    private async Task Submit()
    {
        var submitted = _submittedTranslation?.Trim();
        _success = _translation?.Translated == submitted;
        _questionSubmitted = true;
    }

}