@page "/showTranslation"
@using BingoLingo.Shared
@inject HttpClient Http

<PageTitle>Translate!</PageTitle>

@if (_translation == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>Translate the following:</h3>
    <p>@_translation.original</p>
    <input @bind="_submittedTranslation"/>
    <button @onclick="@Submit" class="btn btn-primary">Submit</button>
    <p style="font-size:48px" hidden="@_hideSuccess">&#x2705;</p>
    <p style="font-size:48px" hidden="@_hideFailure">&#x274C;</p>
}

@code {
    private Translation? _translation;
    private string? _submittedTranslation;
    private bool _hideSuccess = true;
    private bool _hideFailure = true;
    private string _resultText = "";

    protected override async Task OnInitializedAsync()
    {
        _translation = await Http.GetFromJsonAsync<Translation>("/randomTranslation");
    }

    private void Submit()
    {
        if (_translation?.translation != _submittedTranslation)
        {
            _hideFailure = false;
        }
        else
        {
            _hideSuccess = false;
        }
    }
}
