@page "/ShowTranslation"
@using BingoLingo.Shared
@inject HttpClient Http
@inject ILogger<ShowTranslation> _logger;

<PageTitle>Translate!</PageTitle>

@if (_translation == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="_translation" OnSubmit="Submit">
        <div class="form-group text-center">
            <h3>Translate the following:</h3>
            <p>"@_translation.Original"</p>
            <InputText @bind-Value="_submittedTranslation" autofocus="autofocus" class="form-control"/>
            <button type="submit" class="btn btn-primary">Submit</button>
            <p style="font-size:48px" hidden="@_hideSuccess">&#x2705;</p>
            <p style="font-size:48px" hidden="@_hideFailure">&#x274C;</p>
        </div>
    </EditForm>
}

@code {
    private Translation? _translation;
    private string? _submittedTranslation;
    private bool _hideSuccess = true;
    private bool _hideFailure = true;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("/Translations/random");
        await response.ThrowIfError(_logger);
        _translation = await response.Content.ReadFromJsonAsync<Translation>();
    }

    private void Submit()
    {
        _hideFailure = _hideSuccess = true;
	    var submitted = _submittedTranslation?.Trim();
        if (_translation?.Translated != submitted)
        {
            _hideFailure = false;
        }
        else
        {
            _hideSuccess = false;
        }
    }
}
