<table style="margin-bottom: 10px">
    <tr>
        @if (Result != null)
        {
            <td>
                <div style="font-size: 48px">
                    @if (Result.Success)
                    {
                        <div>&#x2705;</div>
                    }
                    else
                    {
                        <div>&#x274C;</div>
                    }
                </div>
            </td>
            <td>
                <table>
                    <tr>
                        <td  style="padding-right: 10px">
                            <b>Original</b>
                        </td>
                        <td>@Result.Translation.Original</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px">
                            <b>Correct answer</b>
                        </td>
                        <td>@Result.Translation.Translated</td>
                    </tr>
                    @if (!Result.SubmittedAnswer.Equals(Result.Translation.Translated, StringComparison.OrdinalIgnoreCase))
                    {
                        <tr>
                            <td>
                                <b style="padding-right: 10px">Your answer</b>
                            </td>
                            <td>@Result.SubmittedAnswer</td>
                        </tr>
                    }
                </table>
            </td>
        }
    </tr>
</table>

@code {

    [Parameter]
    public BingoLingo.Shared.TranslationResult? Result { get; set; }

}